@import "variables";

.section__about {
  background-color: $bg-white;
  grid-column: full-start / full-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  row-gap: 5rem;
  padding: 7rem 0;
}

.about {
  &__title {
    font-weight: 700;
    background-image: $bg-colored;
    background-clip: text;
    color: transparent;
    grid-column: center-start / center-end;
    justify-self: center;

    @media only screen and (min-width: $bp-300) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: $bp-500) {
      font-size: 3.5rem;
    }
    @media only screen and (min-width: $bp-800) {
      font-size: 5rem;
    }
  }

  &__text {
    color: $color-black;
    
    justify-self: center;
    align-self: center;

    @media only screen and (min-width: $bp-300) {
      font-size: 1.5rem;
      grid-column: center-start / center-end;
    }
    @media only screen and (min-width: $bp-500) {
      font-size: 1.8rem;
    }
    @media only screen and (min-width: $bp-800) {
      font-size: 2rem;
      grid-column: col-start 2 / col-end 7;
    }
  }
}
