@import "variables";

.section__about {
  background-color: $bg-white;
  grid-column: full-start / full-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  row-gap: 5rem;
  padding: 7rem 0;
}

.about {
  &__title {
    font-size: 7rem;
    font-weight: 700;
    background-image: $bg-colored;
    background-clip: text;
    color: transparent;
    grid-column: center-start / center-end;
    justify-self: center;
  }

  &__text {
    color: $color-black;
    font-size: 2rem;
    grid-column: center-start / center-end;
    justify-self: center;
    align-self: center;
  }
}
