@import "animations";

.hamburgerIcon {
  grid-column: 1/-1;
  grid-row: 1/2;
  //   transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
}

.icon,
.icon::after,
.icon::before {
  width: 5rem;
  height: 1rem;
  background-color: #fff;
  display: inline-block;
  border-radius: 10px;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.8s;
}

.icon::before {
  top: -3rem;
}
.icon::after {
  top: 3rem;
}

.checkbox {
  opacity: 0;
}

.button {
  cursor: pointer;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  animation: top-bar-open 1s forwards;
}

.checkbox:not(:checked) + .button .icon::before {
  animation: top-bar-close 1s;
}

.checkbox:checked + .button .icon::after {
  animation: bottom-bar-open 1s forwards;
}

.checkbox:not(:checked) + .button .icon::after {
  animation: bottom-bar-close 1s;
}
