@import "variables";

.kronstadtFood {
  &__header {
    background-image: linear-gradient(
      to right bottom,
      $color-kronstadt-dark,
      $color-kronstadt-dark
    );
  }
  &__link {
    border: 2px solid $color-kronstadt-dark;

    &:link,
    &:visited {
      color: $color-kronstadt-dark;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-white;
      transform: translateX(1rem);
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-kronstadt-dark 50%
      );
    }
  }
  &__indicator {
    border: 1px $color-kronstadt-dark solid;
    &.active {
      background: $color-kronstadt-dark;
    }
  }

  &__img {
    border: 5px solid $color-kronstadt-dark;
  }
}
