@import "variables";
@import "animations";

.section__projects {
  background-color: $bg-white;
  grid-column: center-start / center-end;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  grid-gap: 3rem;
  row-gap: 5rem;

  @media only screen and (min-width: $bp-300) {
    padding: 5rem 0;
  }
  @media only screen and (min-width: $bp-700) {
    padding: 8rem 0;
  }
}

.projects {
  &__title {
    font-weight: 700;
    background-image: $bg-colored;
    background-clip: text;
    color: transparent;
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    align-self: center;

    @media only screen and (min-width: $bp-300) {
      font-size: 4rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30rem;
    border-radius: 2rem;

    &-title {
      font-size: 5rem;
      color: $color-white;
      grid-column: 1/-1;
      grid-row: 1/-1;
      justify-self: center;
      align-self: center;
      z-index: 1;
      font-family: $font-anton;
    }

    &-image {
      border-radius: 2rem;
      width: 100%;
      height: 100%;
      grid-column: 1/-1;
      grid-row: 1/-1;
      justify-self: center;
      object-fit: cover;
      filter: opacity(0.3);
    }

    &-caption {
      grid-column: 1/-1;
      grid-row: 1/-1;
      width: 100%;
      border-radius: 2rem;
      backface-visibility: hidden;
      z-index: 5;
      opacity: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s;

      &-buttons {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
      }

      &-btn {
        border: 2px solid $color-white;
        border-radius: 30px;
        padding: 1rem 4rem;
        cursor: pointer;

        &:link,
        &:visited {
          font-weight: 300;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-white 50%
          );
          background-size: 220%;
          transition: all 0.4s;

          @media only screen and (min-width: $bp-300) {
            font-size: 1.3rem;
          }
          @media only screen and (min-width: $bp-500) {
            font-size: 1.6rem;
          }
          @media only screen and (min-width: $bp-800) {
            font-size: 2rem;
          }
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: $color-primary-dark;
          transform: translateX(1rem);
        }
      }

      &-text {
        color: $color-white;
        width: 100%;
        text-align: center;
        @media only screen and (min-width: $bp-300) {
          font-size: 2rem;
        }
        @media only screen and (min-width: $bp-500) {
          font-size: 3rem;
        }
        @media only screen and (min-width: $bp-800) {
          font-size: 3.5rem;
        }
      }
    }
    &:hover &-caption {
      opacity: 1;
    }
  }
}

.revertoLink {
  background-color: $color-reverto;
}

.kronstadtFoodLink {
  background-color: $color-kronstadt-dark;
}
