@import "variables";
@import "animations";

.reverto {
    background-color: turquoise;
    display: grid;
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end];

    &__header {
        grid-column: full-start / full-end;
        justify-self: center;
        &-big {
            text-transform: uppercase;
        }
    }
    &__about {
         grid-column: full-start / full-end;
    }
    &__technologies {
         grid-column: full-start / full-end;
    }
    &__video {
         grid-column: full-start / full-end;
    }
}