@import "variables";
@import "animations";

svg {
  overflow: visible;
}
.section__skills {
  background-image: $bg-colored;
  grid-column: full-start / full-end;
  grid-row: 3/4;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
  row-gap: 5rem;

  
  @media only screen and (min-width: $bp-300) {
    padding: 5rem 0;
  }
}

.skills {
  &__title {
    font-weight: 700;
    color: $color-white;
    grid-column: full-start / full-end;
    justify-self: center;

    @media only screen and (min-width: $bp-300) {
      font-size: 4rem;
    }
  }

  &__icons {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    border: 1px solid $color-white;
    border-radius: 1rem;
    background-color: $color-white;

    &-icon {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;

       @media only screen and (min-width: $bp-300) {
      font-size: 4rem;
    }

      h5 {
        margin-top: 1rem;
        @media only screen and (min-width: $bp-300) {
          font-size: 2rem;
        }
      }
    }
  }
}

.iconify:hover {
  animation: rubberBand 1s ease-in forwards infinite;
}
